{% extends "base.html" %}

<title> {% block title %}Главная{% endblock title %}  </title>

{% block content %}
    {% for product in listProducts %}
        <div class="product">
            <h2>{{product.title}}</h2>

            <h2>{{product.price}}</h2>

            <p>{{product.desc}}</p>
        </div>
    {% endfor %}
{% endblock content %}


{% block content %}
    {% for Maker in listMakers %}
        <div class="Maker">
            <h2>{{Maker.country}}</h2>

            <p>{{Makers.firm}}</p>

        </div>
    {% endfor %}
{% endblock content %}



